.theme-container
  &.sidebar-open
    .sidebar-mask
      display: block

  &.no-navbar
    {$contentClass}:not(.custom) > h1, h2, h3, h4, h5, h6
      margin-top 1.5rem
      padding-top 0

    .sidebar
      top 0

.single_page_content
  padding-left $sidebarWidth

.sidebar
  font-size 16px
  background-color #fff
  width $sidebarWidth
  position fixed
  z-index 10
  margin 0
  top $coverHeight
  left 0
  bottom $footerHeight*1.5
  box-sizing border-box
  border-right 1px solid $borderColor
  overflow-y auto